.payment-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 0px 15px 0px 15px;
    background: linear-gradient(135deg, 
    color-mix(in srgb, #00b4af, transparent 95%) 50%, 
    color-mix(in srgb, #00b4af, transparent 98%) 25%, transparent 50%);
}
.payment-container-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.payment-container-card {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border-radius: 15px;
    
}
.payment-initiator { 
    margin: 30px 0px;
}
.payment-initiator img {
    width: 200px;
}
.product-redirect-view {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.product-redirect-view img {
    width: 60px;
    height: 60px;
    padding: 3px;
    border-radius: 10px;
    border: 2px solid #c0c0c0;
}
.product-redirect-view span {
    font-size: 32px;
    margin: 0px 16px;
    color: #c0c0c0;
}
.table .pg-tbr-key {
    color: #676b7b;
    text-align: left;
}
.table .pg-tbr-value {
    color: #262b43;
    text-align: right;
    font-weight: 600;
}
.table .pgs-tbr-key {
    font-size: 12px;
    padding: 5px 3px;
    color: #676b7b;
    text-align: left;
}
.table .pgs-tbr-sprtr{
    padding: 5px 3px;
}
.table .pgs-tbr-value {
    font-size: 12px;
    padding: 5px 3px;
    color: #262b43;
    text-align: right;
    font-weight: 600;
}
.pay-desc-bg {
    background: #f1f1f1;
}
.payment-footer{
    text-align: center;
    margin-top: 50px;
    width: 100%;
}
@media (max-width: 767px) {
    .payment-container-card {
        padding: 15px;
    }
    .payment-initiator img {
        width: 150px;
    }
    .product-redirect-view img {
        width: 50px;
        height: 50px;
    }
    .product-redirect-view span {
        font-size: 24px;
    }
    .payment-initiator {
        margin: 20px 0;
    }
    .table .pg-tbr-key {
        font-size: 14px;
    }
    .table .pg-tbr-value {
        font-size: 14px;
    }
    .table .pgs-tbr-key {
        font-size: 12px;
    }
    .table .pgs-tbr-value {
        font-size: 12px;
    }
}